.Playerpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  .Playerpage-body {
    width: 90%;
    height: 100%;
    
    .player-list {
      display: flex;
      height: calc(100% - 40px);
      justify-content: center;
      flex-wrap: wrap;
      overflow-y: scroll;
    }
  }
}